<footer class="footer bg-dark py-3 mt-auto">
    <div class="container text-center">
        <span style="color: rgba(255, 255, 255, 0.5);">
            &copy;YelpCamp 2023
        </span>
    </div>
</footer>